%html
  %head
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
  %body{"ng-app" => "gi"}
    .container{ 'ng-controller' => 'GICtrl' }
      .row
        .col-md-4{ 'ng-controller' => 'TopicsCtrl' }
          %ul
            %li{ 'ng-repeat' => 'topic in topics' } 
              %a{ 'ng-href' => "/algorithm/{{topic.name}}" } {{ topic.name }}
        .col-md-8
          %div{ 'ng-view' => true }

    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-route.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-resource.js"}
    %script{ src: 'app.js' }
