.quiz{ 'ng-controller' => 'BigOCtrl', 'ng-init' => 'init()' }
  .explanation
    %ul
      %li A quiz on Big-O notation
      %li Match the algorithms with their complexity
      %li Figure out the complexity class based on the name
      %li Highest possible score is {{highestPossible}}
  
  %a.btn.btn-default Take the quiz


  
