%h3 FEC Algorithms
.algorithm{ 'ng-controller' => 'FecCtrl', 'ng-init' => 'init()' }

  %button.btn{ 'ng-click' => 'start()' }
  %select{ 'ng-options' => 'a in a for algorithms', 'ng-model' => 'algorithm' }
    




