.algorithm{ 'ng-controller' => 'PrimeCalcCtrl' }

  .item 
    Algorithm: 
    %select{ 'ng-options' => 'c for c in algorithms', 'ng-model' => 'algorithm' }
  .item
    Bounds:
    %input{ 'ng-model' => 'bounds', placeholder: 'Enter boundary for calculation' }
  .item
    
    %a.btn.btn-default{ 'ng-click' => 'calculate()' } Calculate primes to {{ bounds }}
    %a.btn.btn-default{ 'ng-click' => 'runAll()' } Calculate primes using all algorithms

  .primes{ 'ng-show' => 'primes' } Found primes: {{ primes | json }}

  #placeholder

  


