%h1 Red/Black Trees

%h3 Rules of Red/Black Trees

%ul
  %li Each node is red or black
  %li Root is always black
  %li All leaves are black
  %li Every red node must have two black nodes
  %li Every path from a given node to any descendants has same number of black nodes

%h3 Characteristics

%ul 
  %li Data structure, self balancing binary search tree.
  %li Leaf nodes do not contain data


