<div class='algorithm' ng-controller='PrimeCalcCtrl' ng-init='generateNumbers(100)'>
  <div class='item'>
    <h4>Algorithm Complexity: O(n log log n)</h4>
    Pseudo polynomial
  </div>
  <div class='item'>
    Step duration:
    <input ng-model='stepInt' placeholder='Enter step interval'>
  </div>
  <div class='item'>
    <a class='btn btn-default' ng-click='SieveOfE()'>Calculate using Sieve of Eratosthenes</a>
  </div>
  <div class='item' ng-show='the_state.p'>
    <h3 ng-show='the_state.p'>P: {{ the_state.p }}</h3>
    <h6 ng-show='the_state.looking'>looking for next prime at {{ the_state.looking }}</h6>
    <h6 ng-show='the_state.marking'>marking as not prime {{ the_state.marking }}</h6>
    <h6 ng-show='the_state.found'>found prime at {{ the_state.found }}</h6>
  </div>
  <div id='placeholder' ng-show='the_state.p' style='width: 700px;'>
    <span class='number' ng-if='0 != $index' ng-repeat='n in the_state.numbers'>
      <div class='holder' ng-class='{ composite : n.composite, prime : n.prime }'>
        {{n.number}}
        <div class='tiny'>{{n.prime&&'prime'||n.composite&&'composite'||'&nbsp;'}}</div>
      </div>
    </span>
  </div>
  <div class='item' ng-show='the_state'>Primes {{ the_state.primes }}</div>
</div>
